<button md-fab class="md-primary md-fab-position-bottom-right" aria-label="New Note" [routerLink]="['NewNote']">
      <i md-icon>add</i>
    </button>
<section class="md-whiteframe-z1">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h3>Notes</h3>
      <span flex></span>
      <button *ngIf="selectedNotes.length >= 1" md-button class="md-primary md-icon-button" aria-label="Delete" (click)="confirmDelete()">
          <i md-icon>delete</i>
        </button>
      <button *ngIf="selectedNotes.length == 1" md-button class="md-primary md-icon-button" aria-label="Edit" (click)="edit()">
          <i md-icon>create</i>
        </button>
      <button *ngIf="selectedNotes.length == 1" md-button class="md-primary md-icon-button" aria-label="View" (click)="view()">
          <i md-icon>open_in_new</i>
        </button>
    </div>
  </md-toolbar>
  <div *ngIf="errorMessage" layout-padding>
    {{errorMessage}}
  </div>
  <div *ngIf="notes && notes.length > 0">
    <md-data-table [selectable]="true">
      <thead hide show-gt-xs>
        <tr md-data-table-header-selectable-row (onChange)="onSelectAll($event)">
          <th class="md-text-cell sortable">Title</th>
          <th class="md-text-cell sortable" hide show-gt-md>Created on</th>
          <th class="md-text-cell sortable" hide show-gt-xs>Modified on</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#note of notes" md-data-table-selectable-row [selectable-value]="note.id" (onChange)="onSelect($event)">
          <td class="md-text-cell">{{ note.title }}</td>
          <td class="md-text-cell" hide show-gt-md>{{ note.created }}</td>
          <td class="md-text-cell" hide show-gt-xs>{{ note.modified }}</td>
          <td style="padding-right: 0;">
            <button md-button class="md-primary md-icon-button" aria-label="View" [routerLink]="['NoteDetail', {id: note.id}]">
              <i md-icon>open_in_new</i>
            </button>  
          <td>
        </tr>
      </tbody>
    </md-data-table>
  </div>
</section>