<md-toolbar layout="row" class="main-toolbar">
      <h1 md-peekaboo
          flex
          [breakMd]="72"
          [breakXs]="20"
          breakAction="hide" [routerLink]="['Notes']">
          <div flex *ngIf="!searchEnabled">{{title}}</div>
          <md-input-container class="md-block" flex *ngIf="searchEnabled">
            <input md-input [(ngModel)]="query" placeholder="Search..." flex>
          </md-input-container>
          <button 
            *ngIf="searchEnabled"
            layout-align="center right"
            md-button class="md-primary md-icon-button" 
            aria-label="Cancel" 
            (click)="enableSearch(false)">
            <i md-icon>clear</i>
          </button>
          <button 
            *ngIf="!searchEnabled"
            layout-align="center right"
            md-button class="md-primary md-icon-button" 
            aria-label="Search" 
            (click)="enableSearch(true)">
            <i md-icon>search</i>
          </button>
          <button 
            *ngIf="searchEnabled"
            layout-align="center right"
            md-button class="md-primary md-icon-button" 
            aria-label="Search" 
            (click)="search()">
            <i md-icon>search</i>
          </button>
          
      </h1>
       
    </md-toolbar>