<div layout="column">
    <md-card *ngFor="#note of notes">
      <md-card-title>
        <md-card-title-text>
          <span style="margin-top: -20px;" class="md-headline">{{note.title}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div [innerHTML]="note.highlight"></div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button [routerLink]="['EditNote', {id: note.id}]">Edit</button>
        <button md-button [routerLink]="['NoteDetail', {id: note.id}]">View</button>
      </md-card-actions>
    </md-card>
</div>